In [6]:
#Install requests library with the command promt

# Import requests library
import requests

google = requests.get("https://developers.google.com")
print("Google:", google.status_code)

NBA = response = requests.get("https://api.sportsdata.io/api/nba/fantasy/json/CurrentSeason")
print("NBA:", NBA.status_code)

rotten_tomato = requests.get("http://api.rottentomatoes.com/api/public/v1.0/lists/movies/box_office.json")
print("Rotten Tomatoes:", rotten_tomato.status_code)

Google: 200
NBA: 401
Rotten Tomatoes: 403

In [9]:
url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/UK/GBP/en-GB/"

querystring = {"query":"Berlin"}

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': "65ac367414mshca9278aae631978p1965d3jsn38a1bf02ce82"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "Places" : [ {
    "PlaceId" : "BER-sky",
    "PlaceName" : "Berlin Brandenburg",
    "CountryId" : "DE-sky",
    "RegionId" : "",
    "CityId" : "BERL-sky",
    "CountryName" : "Germany"
  }, {
    "PlaceId" : "BLI-sky",
    "PlaceName" : "Bellingham",
    "CountryId" : "US-sky",
    "RegionId" : "WA",
    "CityId" : "BLIA-sky",
    "CountryName" : "United States"
  }, {
    "PlaceId" : "BTV-sky",
    "PlaceName" : "Burlington",
    "CountryId" : "US-sky",
    "RegionId" : "VT",
    "CityId" : "BTVA-sky",
    "CountryName" : "United States"
  }, {
    "PlaceId" : "BRL-sky",
    "PlaceName" : "Burlington",
    "CountryId" : "US-sky",
    "RegionId" : "IA",
    "CityId" : "BRLA-sky",
    "CountryName" : "United States"
  } ]
}

In [18]:
import requests

url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/SFO-sky/JFK-sky/2021-11-01"

querystring = {"inboundpartialdate":"2019-12-01"}

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': "65ac367414mshca9278aae631978p1965d3jsn38a1bf02ce82"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "Quotes" : [ {
    "QuoteId" : 1,
    "MinPrice" : 96,
    "Direct" : false,
    "OutboundLeg" : {
      "CarrierIds" : [ 1065 ],
      "OriginId" : 81727,
      "DestinationId" : 60987,
      "DepartureDate" : "2021-11-01T00:00:00"
    },
    "QuoteDateTime" : "2021-10-09T03:14:00"
  }, {
    "QuoteId" : 2,
    "MinPrice" : 116,
    "Direct" : true,
    "OutboundLeg" : {
      "CarrierIds" : [ 870 ],
      "OriginId" : 81727,
      "DestinationId" : 60987,
      "DepartureDate" : "2021-11-01T00:00:00"
    },
    "QuoteDateTime" : "2021-10-09T03:14:00"
  } ],
  "Carriers" : [ {
    "CarrierId" : 1065,
    "Name" : "Frontier Airlines"
  }, {
    "CarrierId" : 870,
    "Name" : "jetBlue"
  } ],
  "Places" : [ {
    "Name" : "New York John F. Kennedy",
    "Type" : "Station",
    "PlaceId" : 60987,
    "IataCode" : "JFK",
    "SkyscannerCode" : "JFK",
    "CityName" : "New York",
    "CityId" : "NYCA",
    "CountryName" : "United States"
  }, {
    "Name" : "San Francisco International",
    "Type" : "Station",
    "PlaceId" : 81727,
    "IataCode" : "SFO",
    "SkyscannerCode" : "SFO",
    "CityName" : "San Francisco",
    "CityId" : "SFOA",
    "CountryName" : "United States"
  } ],
  "Currencies" : [ {
    "Code" : "USD",
    "Symbol" : "$",
    "ThousandsSeparator" : ",",
    "DecimalSeparator" : ".",
    "SymbolOnLeft" : true,
    "SpaceBetweenAmountAndSymbol" : false,
    "RoundingCoefficient" : 0,
    "DecimalDigits" : 2
  } ]
}

In [19]:
import pandas as pd

In [25]:
df = pd.DataFrame(response.json().items())

In [26]:
df['new_col'] = df[1].apply(lambda x: x[0])

In [27]:
df

,0,1,new_col
0,Quotes,"[{'QuoteId': 1, 'MinPrice': 96, 'Direct': Fals...","{'QuoteId': 1, 'MinPrice': 96, 'Direct': False..."
1,Carriers,"[{'CarrierId': 1065, 'Name': 'Frontier Airline...","{'CarrierId': 1065, 'Name': 'Frontier Airlines'}"
2,Places,"[{'Name': 'New York John F. Kennedy', 'Type': ...","{'Name': 'New York John F. Kennedy', 'Type': '..."
3,Currencies,"[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...","{'Code': 'USD', 'Symbol': '$', 'ThousandsSepar..."

In [28]:
# Import libraries
import pandas as pd
import json

# Normalize the response

pd.json_normalize(response.json())
# If this doesn't work, try to import json

,Quotes,Carriers,Places,Currencies
0,"[{'QuoteId': 1, 'MinPrice': 96, 'Direct': Fals...","[{'CarrierId': 1065, 'Name': 'Frontier Airline...","[{'Name': 'New York John F. Kennedy', 'Type': ...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."

In [31]:
quotes = pd.DataFrame(pd.json_normalize(response.json())["Quotes"][0])
carriers = pd.DataFrame(pd.json_normalize(response.json())["Carriers"][0])
places = pd.DataFrame(pd.json_normalize(response.json())["Places"][0])
currencies = pd.DataFrame(pd.json_normalize(response.json())["Currencies"][0])

In [33]:
places

,Name,Type,PlaceId,IataCode,SkyscannerCode,CityName,CityId,CountryName
0,New York John F. Kennedy,Station,60987,JFK,JFK,New York,NYCA,United States
1,San Francisco International,Station,81727,SFO,SFO,San Francisco,SFOA,United States

In [34]:
flights = pd.DataFrame(pd.DataFrame(pd.json_normalize(response.json())["Quotes"][0])["OutboundLeg"][0])

In [35]:
flights

   CarrierIds  OriginId  DestinationId        DepartureDate
0        1065     81727          60987  2021-11-01T00:00:00

In [ ]:
pd.to_datetime(df['col'])